/* 字体 */
* {
    font-family: -apple-system, system-ui,
    BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}
/* 重要通知样式 */
.Notice {
    padding-left: 10px;
    background-color: #2188b6;
    color: rgba(255,255,255,0.8);
}

@media screen and (min-width: 761px) {
    .Notice {
        display: flex;
        justify-content: flex-start;
    }
}

.Notice-line {
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.Notice-highlight {
    color: #fff;
    font-weight: bolder;
}

/* 导航栏样式 */

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    width: 50px;
    height: 50px;
}

.logo-primary {
    fill: #117cad;
}
.logo-secondary {
    fill: #fff;
}
button {
    width: 50px;
    height: 50px;
    background: transparent no-repeat center center;
    background-image: url("../images/download.svg");
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* 工具样式 */
.tool {
    background-color: #2188b6;
}

.git.logo {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.git-title {
    vertical-align: middle;
}

/* 优点样式 */


/* 快速样式 */
.fast {
    line-height: 120px;
    margin: 0 auto;
}

.fast-right {
    width: 200px;
    display: block;
}

/* 主体样式 */


/* 页脚样式 */